@media (min-width: 300px) and (max-width: 600px) {
	h1 {
		font-size: 45px;
		line-height: 52px;
	}
	h2 {
		font-size: 20px;
		line-height: 37px;
	}
	.mx-6 {
		margin-left: 80px;
		margin-right: 80px;
	}

	.text-minor {
		font-size: 20px !important;
	}

	p {
		font-size: 20px !important;
		line-height: 25px !important;
	}
}

@media (min-width: 601px) {
	h1 {
		font-size: 53px;
		line-height: 62px;
	}

	h2 {
		font-size: 37px;
		line-height: 32px;
	}
	.mx-6 {
		margin-left: 150px;
		margin-right: 150px;
	}
}

h1,
h2 {
	font-family: "Montserrat", sans-serif;
	margin-top: 30px;
	font-weight: bold;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	line-height: 30px;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

.card-text {
	font-size: 17px;
}
